@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: #DECE9C;
  color: #1d1d1f;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  min-height: 100vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.App-header h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.19);
}

.description {
  font-size: 20px;
  margin-bottom: 2rem;
}

.inputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.inputLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
}

.mantissa-input,
.exponent-input {
    border: 1px solid #d1d1d6;
    background-color: #ececec;
    color: #333;
    border-radius: 4px;
    flex-grow: 1;
}

.mantissa-input {
    width: 300px;
    flex-grow: 2;
}

.exponent-input {
    width: 120px;
    flex-grow: 2;
}

.base-picker {
    width: 150px;
    padding: 0.75rem 0.5rem;
    margin-top: 1rem;
    border: 1px solid #d1d1d6;
    background-color: #ececec;
    color: #333;
    border-radius: 4px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
  }

.mantissa-input:focus,
.exponent-input:focus {
    outline: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.convert-button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #0071e3;
    color: white;
    font-size: 1rem;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.convert-button:hover {
  background-color: #0051ba;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clear-button {
    background-color: #DF2E38;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #C21E26 !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.outputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.output {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.errorArea {
    background-color: #DF2E38;
}

.footer {
    position: absolute;
    bottom: 0;
}

@media (max-width: 768px) {
    .inputContainer {
      flex-direction: column;
      align-items: center;
    }
    
    .mantissa-input,
    .exponent-input {
      width: 100%;
    }
    
    .base-two {
      display: none;
    }
}
